// Разрешения
$desktop: 1920px;
$desktop-small: 1440px;
$tablet: 1024px;
$tablet-small: 744px;
$mobile: 375px;

// Шрифты
$primary-font: 'SF UI Display', Arial, sans-serif;
$secondary-font: 'Mazzard', Arial, sans-serif;

// Цвета
$black: #0e0f11;
$gray: #8f959b;
$light-gray: #c3c8cf;
$white: #fff;
$body-color: #f3f7fb;
$blue: #2557f6;
$yellow: #d2a41d;
$red: #f24c41;
$light-red: rgba(240, 87, 77, 0.2);
